html,
body {
	font-family: 'Roboto';
	color: rgba(0, 0, 0, 0.637);
	/* background-image: url(mainpage.jpg);
    background-image: url(css/img/mainpage.jpg); */
    background-image: 
    url(../css/img/mainpage.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
}

a {
    color: black;

}


.logo>a {
	font-family: 'Pacifico';
	font-size: 44px;
	color:  rgb(4 48 14 / 74%);
	text-decoration: none;
}

.card {
	font-size: 0.8rem;
	border-radius: 10px;
}

.card img {
	border-radius: 11px 11px 0 0;
}

.card p {
	margin-bottom: 0.4rem;
}

.rightflow p {
	text-align: right;
}

.card-title {
	text-align: center;
	font-weight: bold;
	font-size: .9rem;
}

.card>a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}

.card-footer i {
	font-size: .8rem;
	color: lightgray;
}

.card:hover {
    box-shadow: 0 8px 17px 2px rgba(145, 187, 255, 0.5), 
                0 3px 14px 2px rgba(145, 187, 255, 0.4), 
                0 5px 5px -3px rgba(145, 187, 255, 0.3);
}

.has {
    color: rgba(0, 0, 255, 0.596)!important;
}


#map {
    border-radius: 5px;
}

#map>ymaps{
    border-radius: 5px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }