<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="static/style.css">

    <title>Groupie Tracker</title>

</head>

<body>

    <nav
      class="navbar navbar-expand-lg navbar navbar-dark fixed-top"
      style="background: linear-gradient(#121418, #021011)"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/" title="Homepage">Groupie Tracker</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/.html"
                title="Tour"
                >Tour</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/concert.html"
                title="All of the bands"
                >Bands</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/about.html#contact"
                title="About the project"
                >About</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Visible content -->
    <div class="container">
        <br><br><br>
        <!-- Logo -->
        <div class="logo d-flex justify-content-center mt-3 mb-4">
            <a href="/" target="_self">Groupie Tracker</a>
        </div>
    </div>

    <form method="GET" action="/artists/id">
        <label for="selection">Artists:</label>
        <select id="id" name="selection">
              
              <option value="1">Queen</option>
              
              <option value="2">SOJA</option>
              
              <option value="3">Pink Floyd</option>
              
              <option value="4">Scorpions</option>
              
              <option value="5">XXXTentacion</option>
              
              <option value="6">Mac Miller</option>
              
              <option value="7">Joyner Lucas</option>
              
              <option value="8">Kendrick Lamar</option>
              
              <option value="9">ACDC</option>
              
              <option value="10">Pearl Jam</option>
              
              <option value="11">Katy Perry</option>
              
              <option value="12">Rihanna</option>
              
              <option value="13">Genesis</option>
              
              <option value="14">Phil Collins</option>
              
              <option value="15">Led Zeppelin</option>
              
              <option value="16">The Jimi Hendrix Experience</option>
              
              <option value="17">Bee Gees</option>
              
              <option value="18">Deep Purple</option>
              
              <option value="19">Aerosmith</option>
              
              <option value="20">Dire Straits</option>
              
              <option value="21">Mamonas Assassinas</option>
              
              <option value="22">Thirty Seconds to Mars</option>
              
              <option value="23">Imagine Dragons</option>
              
              <option value="24">Juice Wrld</option>
              
              <option value="25">Logic</option>
              
              <option value="26">Alec Benjamin</option>
              
              <option value="27">Bobby McFerrins</option>
              
              <option value="28">R3HAB</option>
              
              <option value="29">Post Malone</option>
              
              <option value="30">Travis Scott</option>
              
              <option value="31">J. Cole</option>
              
              <option value="32">Nickelback</option>
              
              <option value="33">Mobb Deep</option>
              
              <option value="34">Guns N' Roses</option>
              
              <option value="35">NWA</option>
              
              <option value="36">U2</option>
              
              <option value="37">Arctic Monkeys</option>
              
              <option value="38">Fall Out Boy</option>
              
              <option value="39">Gorillaz</option>
              
              <option value="40">Eagles</option>
              
              <option value="41">Linkin Park</option>
              
              <option value="42">Red Hot Chili Peppers</option>
              
              <option value="43">Eminem</option>
              
              <option value="44">Green Day</option>
              
              <option value="45">Metallica</option>
              
              <option value="46">Coldplay</option>
              
              <option value="47">Maroon 5</option>
              
              <option value="48">Twenty One Pilots</option>
              
              <option value="49">The Rolling Stones</option>
              
              <option value="50">Muse</option>
              
              <option value="51">Foo Fighters</option>
              
              <option value="52">The Chainsmokers</option>
              
        </select>
        <input type="submit" value="Select">
  </form>


    </section>

    <!-- Members INFO -->

    <!-- <div id="cards" class="row">
        {{range .}}
        <div class="col">
            <div class="card text-black bg-light h-50" style="width: 200px;" id="card">
                
                <img id="img" src={{.Image}} class="card-img-top" alt={{.Name}}>
                <div class="card-header" style="font-size: 20px;">{{.Name}}<form class="form-inline" action="/concert" method="POST">
                    <input type="hidden" name="concert" value={{.ID}}>
                    <input type="submit" class="btn btn-dark" value="More Info">
                </form>
                <form class="form-inline" action="/tour" method="POST">
                    <input type="hidden" name="tour" value={{.ID}}>
                    <input type="submit" class="btn btn-dark" value="Tour">
                </form></div>
          
            </div>
        </div>
        
        {{end}}
    </div>

    </section> -->
    <!--TO SHOW CASSIDY AND FAZILA TO CHOOSE FROM-->
    <div id="cards" class="row">
        {{range .}}
        <div class="flip-card">
            <!-- <div class="zoom" id= "zoom"> -->
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <div class="col">
                        <div class="card text-black bg-light h-50" style="width: 200px; margin: 5px 5px 5px 15px;"
                            id="card">
                            <img id="img" src={{.Image}} class="card-img-top" alt={{.Name}}>
                        </div>
                    </div>
                </div>
                <div class="flip-card-back">
                    <h1>
                        <a href="/concert?id={{.ID}}" name="concert"> {{.Name}}</a>
                    </h1>
                    <p><b>Creation Date:</b> {{.CreationDate}}</p>
                    <p><b>Members:</b> {{range .Members}} {{.}}, {{end}}
                </div>
            </div>
        </div>
        <!-- </div> -->
        {{end}}
    </div>
</body>

</html>